
@model WebApplication3.Models.Course
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManageCourseSchedule</title>
    <style>
        html {
            background-image: url('/Images/sea-edge-79ab30e2.png');
            background-size: cover;
        }
    </style>
    <style>
        .button {
            display: inline-block;
            border-radius: 4px;
            background-color: #4169E1;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button:hover span {
                padding-right: 25px;
            }

                .button:hover span:after {
                    opacity: 1;
                    right: 0;
                }
    </style>
    <style>
        a:link, a:visited {
            background-color: #4169E1;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        a:hover, a:active {
            background-color: darkblue;
        }
    </style>
</head>
<body>
    <div>
        <h1 style="color:red"> Manage Course Schedule </h1><br />

        @Html.ActionLink("Go Back", "Index", "Home")
        @using (Html.BeginForm("ManageCourseSchedule", "Administrator", FormMethod.Post))
        {
            <br />
            <tag>Select Course:</tag>
            @Html.DropDownListFor(y => y.Id, new SelectList(ViewBag.courseslist, "Id", "Name"), "select Course")
            <br />
            <tag>Hour:</tag>
            @Html.TextBoxFor(m => m.Hours)
            @Html.ValidationMessageFor(m => m.Hours)
            <script>
                    @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem { Text = "Sunday", Value = "Sunday" });
                    listItems.Add(new SelectListItem { Text = "Monday", Value = "Monday" });
                    listItems.Add(new SelectListItem { Text = "Tuesday", Value = "Tuesday" });
                    listItems.Add(new SelectListItem { Text = "Wednsday", Value = "Wednsday" });
                    listItems.Add(new SelectListItem { Text = "Thursday", Value = "Thursday" });
                    listItems.Add(new SelectListItem { Text = "Friday", Value = "Friday" });
                }
            </script>
            <br />
            <tag>Day:</tag>

            @Html.DropDownListFor(y => y.Day, listItems, "select Day")
            <br />
            <button class="button" style="vertical-align:middle"><span>Update Schedule</span></button>
            <br />
            @Html.ViewBag.success5
            @Html.ViewBag.Erro3
            @Html.ViewBag.Error4

        }

    </div>
</body>
</html>

